.ekool-container {
    background-color: beige;
    color: darkred;
    padding: 50px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.ekool-titlelogo {
    margin-top: 20px;
    margin-bottom: 20px;
}

