.game-box {
    border: 2px solid #333; 
    padding: 20px;
    width: 500px; 
    background-color: #f0f0f0; 
    color: black; 
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}

.game-title {
    color: red;
}

.game-desc {
    margin-right: 20px;
}

.typescript-content {
    background-color: white;
    padding: 100px;
}

.typescript-title {
    margin-top: -2em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: -2em;
    font-weight: bold;
    font-size: 2em;
    color: red;
    text-align: center;
}