.nigro-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(56, 7, 7);
    font-family: sans-serif !important;
    color: rgb(245, 245, 245);
    font-size: 18px;
    padding: 1em;
}

.nigro-section h1, h2, p, label {
    background-color: transparent;
    font-family: sans-serif !important;
}

.nigro-section h1 {
    color: rgb(254, 63, 63);
}


.nigro-title { text-transform: uppercase; letter-spacing: 0.2rem; }
.m0 { margin: 0; }
.pre { white-space: pre; }
.w05 { width: 50%; }
.w075 { width: 75%; }