.game-section {
    background-color: rgb(247, 186, 0);
    color: black;
    padding: 1em;
    letter-spacing: 1px;
}

.game-link {
    color: white;
}

.game-info-highlight {
    color: rgb(181, 42, 181);
}

.description-p {
    font-size: 1.1rem;
}